<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Extensions"
            id="net.sf.ecl1.extensionpoint">
      </category>
      <view
            name="Extension Points"
            icon="icons/sample.gif"
            category="net.sf.ecl1.extensionpoint"
            class="net.sf.ecl1.extensionpoint.views.ExtensionPointView"
            id="net.sf.ecl1.extensionpoint.views.ExtensionPointView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="net.sf.ecl1.extensionpoint.views.ExtensionPointView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
