/*
 * Copyright (c) 2013 HIS GmbH All Rights Reserved.
 *
 * $Id$
 *
 * $Log$
 *
 */

import org.junit.Test;

/**
 * @version $Revision$
 */
public class DummyTest {

    /**
     * 
     */
    @Test
    public void test() {
        //do nothing just succeed
    }

}
