<?xml version="1.0" encoding="UTF-8"?>
<project name="extension" default="jar">
	<description>
            Build Script for HISinOne Extension
    </description>


	<import file="buildscripts/build.xml" />
	
</project>
