<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="cs.sys.extensions.ProjectSetupSteps">
      <Step
            class="h1modules.resource.setup.step.ResourceSetupStep"
            name="Resource Setup">
      </Step>
      <Step
            class="h1modules.resource.setup.step.GitInitSetupStep"
            name="Resource Setup">
      </Step>
   </extension>

</plugin>
