<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="cs.sys.extensions.ProjectSetupSteps" name="ProjectSetupSteps" schema="schema/cs.sys.extensions.ProjectSetupSteps.exsd"/>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="de.his.cs.sys.extensions"
            name="HISinOne">
      </category>
      <wizard
            category="de.his.cs.sys.extensions"
            class="de.his.cs.sys.extensions.wizards.NewExtensionProjectWizard"
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"
            icon="META-INF/resource/his1_favicon.gif"
            id="de.his.cs.sys.extensions.moduleProjectWizard"
            name="HISinOne Extension Project"
            project="true">
      </wizard>
   </extension>

</plugin>
