<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
       point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
          id="ExtensionBundleClasspathContainer.BUNDLES"
          class="net.sf.ecl1.bundleresolver.ExtensionBundleClasspathContainer"/>
   </extension>
   <extension 
       point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
          id="ExtensionBundleClasspathContainer.BUNDLES"
          name="Extension-Bundle-Container"
          class="net.sf.ecl1.bundleresolver.ExtensionBundleClasspathContainerPage" />
   </extension>
</plugin>
