<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
	      point="org.eclipse.ui.commands">
	      <command
             id="net.sf.ecl1.git.lfs.prune.command"
             name="Git lfs prune Button" />
	</extension>
	<extension
	      point="org.eclipse.ui.handlers">
    	<handler
          	commandId="net.sf.ecl1.git.lfs.prune.command"
          	class="net.sf.ecl1.git.lfs.prune.GitLfsPruneHandler" />
	</extension>
	<extension
	      point="org.eclipse.ui.menus">
	      <menuContribution
             locationURI="toolbar:org.eclipse.ui.main.toolbar">
          <toolbar
                id="net.sf.ecl1.git.batch-pull-button.toolbar1"
                label="ecl1 Tools">
             <command
                   commandId="net.sf.ecl1.git.lfs.prune.command"
                   icon="icons/clear.png"
                   label="Git lfs prune"
                   style="push">
             </command>
          </toolbar>
	      </menuContribution>
	</extension>
</plugin>
