<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <page
            class="net.sf.ecl1.utilities.preferences.HISinOneExtensionsPreferencePage"
            id="net.sf.ecl1.utilities.preferences.HISinOneExtensionsPreferencePage"
            name="HISinOne-Extensions Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="net.sf.ecl1.utilities.preferences.HISinOneExtensionsPreferencePage"
            id="net.sf.ecl1.utilities.preferences.HISinOneExtensionsPreferencePage"
            name="HISinOne-Extensions Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="net.sf.ecl1.utilities.preferences.PreferenceInitializer">
      </initializer>
   </extension>

</plugin>
